<include file="Common/header" />
	
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-4"></div>

			<div class="col-md-4">
				<h3 class="text-center">{$seoSetting['title']}</h3>

				<hr>
				<form role="form" method="post">
					<if condition="$reginfoArr['username_reg']">
						<div class="form-group <if condition="$error['username']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label for="exampleInputUsername1">用户名<if condition="$reginfoArr['username_must']"><font color="red">*</font></if></label>
					    	<input type="text" class="form-control" id="exampleInputUsername1" placeholder="用户名" name="username" value="{$registerArr['username']}" maxlength="30">
							<div class="help-block">{$error['username']}</div>
						</div>
					</if>

					<if condition="$reginfoArr['email_reg']">
						<div class="form-group <if condition="$error['email']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label for="exampleInputEmail1">电子邮箱<if condition="$reginfoArr['email_must']"><font color="red">*</font></if></label>
					    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="电子邮箱" name="email" value="{$registerArr['email']}" maxlength="40">
							<div class="help-block">{$error['email']}</div>
						</div>
					</if>

					<if condition="$reginfoArr['phone_reg']">
						<div class="form-group <if condition="$error['phone']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label for="exampleInputPhone1">手机号码<if condition="$reginfoArr['phone_must']"><font color="red">*</font></if></label>
					    	<input type="text" class="form-control" id="exampleInputPhone1" placeholder="手机号码" name="phone" value="{$registerArr['phone']}" maxlength="11">
							<div class="help-block">{$error['phone']}</div>
						</div>
					</if>
					
					<div class="form-group <if condition="$error['password']">has-error<elseif condition="$registerArr" />has-success</if>">
				    	<label for="exampleInputPassword1">密码<font color="red">*</font></label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码" name="password" value="{$registerArr['password']}">
						<div class="help-block">{$error['password']}</div>
					</div>

					<div class="form-group <if condition="$error['password2']">has-error<elseif condition="$registerArr" />has-success</if>">
				    	<label for="exampleInputPassword2">确认密码<font color="red">*</font></label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="确认密码" name="password2" value="{$registerArr['password2']}">
						<div class="help-block">{$error['password2']}</div>
					</div>


					<if condition="$reginfoArr['realname_reg']">
						<div class="form-group <if condition="$error['realname']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label for="exampleInputRealname1">昵称<if condition="$reginfoArr['realname_must']"><font color="red">*</font></if></label>
					    	<input type="text" class="form-control" id="exampleInputRealname1" placeholder="昵称" name="realname" value="{$registerArr['realname']}" maxlength="10">
							<div class="help-block">{$error['realname']}</div>
						</div>
					</if>

					<if condition="$reginfoArr['gender_reg']">
						<div class="form-group <if condition="$error['gender']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label>性别<if condition="$reginfoArr['gender_must']"><font color="red">*</font></if></label>
					    	<div class="" >
						    	<label class="radio-inline">
								  	<input type="radio" name="gender" value="1" <if condition="$registerArr['gender'] == 1">checked</if>> 男
								</label>
								<label class="radio-inline">
								  	<input type="radio" name="gender" value="2" <if condition="$registerArr['gender'] == 2">checked</if>> 女
								</label>
							</div>
							<div class="help-block">{$error['gender']}</div>
						</div>
					</if>

					<if condition="$reginfoArr['age_reg']">
						<div class="form-group <if condition="$error['age']">has-error<elseif condition="$registerArr" />has-success</if>">
					    	<label for="exampleInputAge1">年龄<if condition="$reginfoArr['age_must']"><font color="red">*</font></if></label>
					    	<input type="text" class="form-control" id="exampleInputAge1" placeholder="年龄" name="age" value="{$registerArr['age']}" maxlength="2">
							<div class="help-block">{$error['age']}</div>
						</div>
					</if>

					<div class="form-group <if condition="$error['verify']">has-error<elseif condition="$registerArr" />has-success</if>">
				    	<label for="exampleInputVerify">验证字符<font color="red">*</font></label>
				    	<div class="clearfix"></div>
				    	<a href="javascript:getCaptcha();" id="captcha" title="看不清? 点击换一张" ><img src="__PUBLIC__/img/loading.gif" alt="正在生成验证图片" /></a>
				    	<div class="clearfix"></div>
				    	<br>
						<input type="text" class="form-control" id="exampleVerify" placeholder="输入您看到的字符" name="verify">
						<div class="help-block">{$error['verify']}</div>
					</div>

					
					<div class="checkbox <if condition="$error['agreement']">has-error<elseif condition="$registerArr" />has-success</if>">
					    <label>
					    	<input type="checkbox" name="agreement" <if condition="$error['agreement']"><else />checked</if> value="1"> 我同意服务条款
					    </label>
					    <div class="help-block">{$error['agreement']}</div>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-loading-text="Loading...">立即注册</button>
					</div>
				</form>

				<hr>
				<div class="clearfix"></div>
				<p class="text-right"><span class="glyphicon glyphicon-user"></span> <a href="{:U('/member/login')}">我有账号! 立即登录</a></p>
				
			</div>

			<div class="col-md-4"></div>
		</div>

	</div>

<script>
	getCaptcha();
</script>
<include file="Common/footer" />