

<header>
	
	<div class="row top_logo">
		<div class="col-md-3 col-sm-4">
			<a href="{$_Gset['SITE_URL']}" title="{$_Gset['SITE_NAME']}">
				<img src="/img/logo.png" />
			</a>
		</div>
		<div class="col-md-6 col-sm-4">
			<div class="form-group input-group col-sm-10 navbar-right main_search">
				<input type="text" class="form-control" placeholder="搜索从这里开始..." name="query" id="query" autocomplate="off" onkeydown="event.keyCode==13 && $('#arpg_search').click();" value="{$query}">
				<span class="input-group-btn">
					<a class="btn btn-default" href="javascript:;" id="arpg_search"><span class="glyphicon glyphicon-search"></span></a>
				</span>
			</div>
			<input type="hidden" value="{:U($searchUrl, array('query'=>NULL))}/query/" name="search_url" id="search_url" />
		</div>

		<div class="col-md-3 col-sm-4">
			<if condition="$_Guser">
		      	<ul class="nav navbar-nav navbar-right userList">
		        	<li class="dropdown">
		          		<a href="#" class="dropdown-toggle main_user" data-toggle="dropdown"><img src="{$_Gset['IMG_AVATAR']}{$_Guser['uid']}/{$_Guser['uid']}_small.jpg" class="img-rounded" id="top_avatar" /> {$_Guser['realname']} <span class="caret"></span></a>
		          		<ul class="dropdown-menu" role="menu">
		          			<li><a href="/space/{$_Guser['uid']}">我的主页</a></li>
		            		<li><a href="{:U('/space/setup')}">账号设置</a></li>
		            		<if condition="$isAdmin"><li><a href="{:U('/set')}">管理中心</a></li></if>
		            		<li class="divider"></li>
		            		<li><a href="javascript:;" data-dialog="{:U('dialog/dialog/logout')}?ref={$ref}" id="showWindow">登出</a></li>
		          		</ul>
		        	</li>
		      	</ul>
			<else />
	      		<ul class="nav navbar-nav navbar-right">
		        	<li><a href="{:U('/member/login', array('ref'=>$ref))}" data-dialog="{:U('dialog/dialog/login')}?ref={$ref}" id="showWindow"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
		        	<li><a href="{:U('/member/register', array('ref'=>$ref))}">免费注册</a></li>
		      	</ul>
	      	</if>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<if condition="$navArr">
	<div class="row top_nav">
		<nav class="navbar navbar-default" role="navigation">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">菜单</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="{$_Gset['SITE_URL']}"><span class="glyphicon glyphicon-home"></span></a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav">
			      		<foreach name="navArr" item="value">
				        	<li <if condition="$value['select'] == 1">class="active"</if>>
				          		<a <if condition="$value['childArr']">class="dropdown-toggle" data-toggle="dropdown"</if> href="{$value['link']}" title="{$value['title']}" <if condition="$value['target'] == 1">target="_blank"</if>>{$value['value']}
					        		<if condition="$value['childArr']">
					        			<span class="caret"></span>
					        		</if>
				        		</a>
				        		<if condition="$value['childArr']">
									<ul class="dropdown-menu" role="menu">
										<if condition="$value['link'] && $value['link'] != '#' && $value['link'] !='javascript:;'">
											<li>
												<a href="{$value['link']}" title="{$value['title']}" <if condition="$value['target'] == 1">target="_blank"</if>>{$value['value']}</a>
											</li>
										</if>
										<foreach name="value['childArr']" item="value2">
											<li>
												<a href="{$value2['link']}" title="{$value2['title']}" <if condition="$value2['target'] == 1">target="_blank"</if>>{$value2['value']}</a>
											</li>
										</foreach>
									</ul>
								</if>
				        	</li>
			        	</foreach>
			      	</ul>
			    </div>
		  	</div>
		</nav>
	</div>
	</if>

</header>